* {
  margin: 2px;
}

body {
  font-size: 24px;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.flex-header {
  background-color: lightgray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex-main {
display: flex;
flex-direction: row;
flex: 1;

}

.flex-nav{
  background-color: red;
  padding-top: 3rem;
  flex: 1 1 5rem
}

.flex-article{
  background-color: purple;
  padding-top: 3rem;
  flex: 3 3;

}

.flex-aside{
  background-color: orange;
  padding-top: 3rem;
  flex: 1 1 5rem;
}

.flex-footer{
  background-color: green;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.topnav {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-span-3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid: span 3;
}
.search-bar-span {
  grid-row-start: 2;
  grid-column-start: 1;
}
.para-grid-span {
  grid-row-start: 2;
  grid-column-start: 2;
}
#btns-span {
  grid-row-start: 2;

}

.new {
  color: white;
  background-color: blue;
  padding: 10px 12px;
  border-radius: 24px;
  border: 2px solid blue;
  margin-right: 10px;
  width: 70px
}
.upload {
  color: white;
  background-color: blue;
  padding: 10px 12px;
  border-radius: 24px;
  border: 2px solid blue;
  margin-right: 10px;
  width: 70px
}
.share{
  color: white;
  background-color: blue;
  padding: 10px 12px;
  border-radius: 24px;
  border: 2px solid blue;
  margin-right: 10px;
  width: 70px
}
