* {
  margin: 2px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  font-size: 24px;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.flex-header {
  background-color: lightgray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex-main {
display: flex;
flex-direction: row;
flex: 1;

}

.flex-nav{
  background-color: blue;
  padding-top: 1rem;
  flex: 1 1 5rem
}

.flex-article{
  background-color: purple;
  padding-top: 3rem;
  flex: 3 3;

}

.flex-aside{
  background-color: orange;
  padding-top: 3rem;
  flex: 1 1 5rem;
}

.flex-footer{
  background-color: green;
  font-size: small;
}

.topnav {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-span-3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
.search-bar-span {
  grid-row-start: 1;
  grid-column-start: 2;
  border: none;
  border-radius: 24px;
  padding: 10px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
.para-grid-span {
  grid-row-start: 2;
  grid-column-start: 2;
  color: black;
  font-weight: bold;
}
#btns-span {
  grid-row-start: 2;
  grid-column-start: 3;

}

.new {
  color: white;
  background-color: blue;
  padding: 10px 12px;
  border-radius: 24px;
  border: 2px solid blue;
  margin-right: 10px;
  width: 70px
}
.upload {
  color: white;
  background-color: blue;
  padding: 10px 12px;
  border-radius: 24px;
  border: 2px solid blue;
  margin-right: 10px;
  width: 70px
}
.share{
  color: white;
  background-color: blue;
  padding: 10px 12px;
  border-radius: 24px;
  border: 2px solid blue;
  margin-right: 10px;
  width: 70px
}
/* .logo {
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: bold;
  color: white;
  font-size: 24x;
  background: blue;
  width: 200px;
} */

.grid-nav {
  font-weight: bold;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(1fr, 10);
}
